__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
instance/
*.db
*.sqlite3
migrations/
*.log
.coverage
htmlcov/
.pytest_cache/


.env
.env.*

celerybeat-schedule
*.pid

node_modules/
dist/
build/
*.map

.DS_Store
Thumbs.db